body {
    font-family: Arial, sans-serif;
}

.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

img {
    width: 100%;
}

.fade {
    animation: fade 1.5ms ease-in-out infinite;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}
